<div class="h-full px-8 py-4 bg-blue-200 rounded-sm">
    {{ sprechzeiten:terminvereinbarung }}
        <div class="mb-6 flex items-center">
            <svg class="h-6 w-6 mr-2 text-blue-600 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1 4c0-1.1.9-2 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4zm2 2v12h14V6H3zm2-6h2v2H5V0zm8 0h2v2h-2V0zM5 9h2v2H5V9zm0 4h2v2H5v-2zm4-4h2v2H9V9zm0 4h2v2H9v-2zm4-4h2v2h-2V9zm0 4h2v2h-2v-2z"/></svg>
            <h3 class="font-bold text-sm uppercase tracking-wide text-blue-600">{{ ueberschrift }}</h3>
        </div>
        <div class="text-sm">
            {{ text }}
        </div>
    {{ /sprechzeiten:terminvereinbarung }}
</div>
