<div class="px-4 md:px-12 lg:px-20 py-8 lg:py-20 wrapper">
    <ul class="w-full font-extralight leading-normal text-gray-700 tracking-wide">
        {{ collection:news eintragsart:is="stellenausschreibung" }}
            <li class="block w-full mb-0">
                <div class="flex flex-wrap bg-gray-100">
                    <div class="w-full py-8 lg:py-12 px-8 lg:px-20 lg:border-4 lg:border-white">
                        <a href="{{ url }}"><h2 class="mb-4 text-xl text-blue-600">{{ title}}</h2></a>
                        {{ text }}
                        <p>
                            <a href="{{ url }}" class="rounded px-4 py-2 text-blue-500 bg-blue-200 hover:text-white hover:bg-blue-700">
                                Mehr erfahren
                            </a>
                        </p>
                    </div>

                </div>
            </li>
        {{ /collection:news }}
    </ul>
</div>
