<div class="h-full px-8 py-4 bg-slate-100 rounded-sm">
        <div class="mb-10 flex items-center">
            <svg class="w-6 h-6 mr-2 text-blue-600 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M10 20a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-1-7.59V4h2v5.59l3.95 3.95-1.41 1.41L9 10.41z"/>
            </svg>
        <h3 class="font-bold text-sm uppercase tracking-wide text-blue-600">{{ ueberschrift }}Praxiszeiten</h3>
        </div>
        {{ if sprechzeiten:hinweis_besondere_sprechzeiten }}
        <div class="pb-4 text-sm">{{ sprechzeiten:hinweis_besondere_sprechzeiten }}</div>
        {{ /if }}
        <ul>
            {{ sprechzeiten:zeiten }}
                <li class="mb-2 pb-0 text-gray-800"><span class="font-semibold text-sm text-primary">{{ wochentag }}</span><br>
                    {{ vormittag }}
                    {{ if nachmittag }}
                        und {{ nachmittag }}
                    {{ endif }}
                </li>
            {{ /sprechzeiten:zeiten }}
        </ul>
</div>
