@layer base {

}

@layer components {

	.header {
		@apply sticky md:pt-4 lg:pt-12;
		top: 0;
		z-index: 100;
	}

	.header-start {
		@apply w-full ;
		transition: all .25s ease-in-out; /* Sanfter Übergang für die Position */
	}

	.header .masthead {
		@apply w-full mb-4 md:mb-8;
	}

	.header-scroll {
		@apply md:pt-0 bg-gray-100 shadow-lg shadow-slate-200;
		transition: all .25s ease-in-out; /* Sanfter Übergang für die Position */
	}

	.header-scroll .masthead {
		@apply mb-2;
		transition: all .25s ease-in-out; /* Sanfter Übergang für die Position */
	}

}

@layer utilities {

}